.box
{
	height: 25vh;
	width: 25vh;
	border: 1px solid black;
	display: inline-block;
	border-radius: 35px;
}
#clock
{
	padding-left: 17.5vh;
	font-family: Verdana;
	font-size: 50px;
	font-style: bold;
}
.red
{
	background-color: red;
}
.blue
{
	background-color: blue;
}
.yellow
{
	background-color: yellow;
}
button {
	border: 1px solid black;
	cursor: pointer;
	border-radius: 3px;
}
button button:hover {
	background-color: rgb(300, 100, 200);
}
